html {
  margin-top: 48px;
  margin-left: 88px;
  margin-right: 88px;
}

body {
  background-color: #F2E8E4;
}

.masthead {
  padding-top: 120px;
  padding-bottom: 120px;
}

.wordmark {
  font-family: 'Cormorant Garamond', serif;
  font-style: italic;
  font-size: 24px;
  color: #4B4644;
  line-height: 32px;
  padding-left: 80px;
  text-decoration: none;
  float: left;
}

@media (max-width: 1279px) {
  .wordmark {

  }
}

.topnav {
  overflow: hidden;
  display: inlineblock;
}

/* Index */

.container {
  Display:flex;
  Flex-direction:row;
  margin-left: 80px;
  margin-right: 88px;
}

@media (max-width: 991px) {
  .container {
   flex-direction: column;
  }
}

article {
  width: 464px;
}

#intro {
  padding-right: 96px;
}

.volume {
  padding-bottom: 16px
}

/* Typography */

p {
  font-family: 'Cormorant Garamond', serif;
  font-size: 24px;
  color: #4B4644;
  line-height: 32px;
  -webkit-font-smoothing: antialiased;
}

p.label {
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  color: #4B4644;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 0px;
  padding-top: 14px;
}

h3 {
  font-family: 'Cormorant Garamond', serif;
  font-style: italic;
  font-size: 32px;
  letter-spacing: -.017em;
  color: #4B4644;
  line-height: 32px;
  -webkit-font-smoothing: antialiased;
}

li {
  text-decoration: none;
  list-style-type:none
  -webkit-font-smoothing: antialiased;
}

li a {
  font-family: 'Cormorant Garamond', serif;
  font-size: 24px;
  color: #FF4C00;
  text-align: right;
  line-height: 32px;
  padding-right: 80px;
  text-decoration: none;
  float: right;
  -webkit-font-smoothing: antialiased;
}

a.title {
  font-family: 'Cormorant Garamond', serif;
  font-size: 24px;
  font-style: normal;
  color: #FF4C00;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

footer {
  height: 120px;
}
